@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
	background:#F8F8F8;
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
}

a:hover{
	text-decoration: none;
	color:#000;
}

.noticia_wrapper{
	padding:15px;
	margin-bottom:15px;
	box-shadow: 1px 1px 2px #C3C3C3;
}

/*.btn-success{
	display: relative;
	right: 0;
}*/

.noticia_autor{
	color: #0A50A0;
	display: block;
}

.noticia_titulo{
	color:#000;
	font-size:22px;
	text-decoration: none;
}

.noticia_data{
	color:#0A50A0;
	display: block;
}

.noticia_resumo{
	color:#333;
	margin-right:10px;
}

.ver_mais{
	text-align: center;
	background:#FFF;
	padding:20px;
}

img .img-fluid, .img-thumbnail {
    width: 370px;
    height: auto;
}

/*Estilo Navbar*/
.navbar{
  /*background-image: linear-gradient(to right, #FED922 20%, #0A50A0 100%);*/
  background-color: #FED823;
  background: linear-gradient(90deg, #FED922 30%, #0A50A0 30.1%);
}

.navbar-brand img{
	width: auto;
	height: 60px;
}

.navbar .nav-item:not(:last-child) {
  margin-right: 25px;
}

.nav-item a{
  color: #FFF;
  font-size: 1.1rem;
  font-weight: bold;
}

.nav-item a:hover{
  color: #FED922;
}

.dropdown-menu {
  margin-top: 0;
  background-color: #0A50A0;
}

.dropdown-menu a{
	font-size: 0.9rem;
}

.dropdown-menu a:hover{
	color: #FFF;

}

.navbar-toggler{
	color: transparent;
}
/*

.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}

.dropdown-menu {
  margin-top: 0;
  background-color: #0A50A0;
}*/

/*.navbar-toggler .navbar-toggler-icon{
  position: relative;
  left: 50;
}*/

.carousel{
	padding: 20px;
}

.footer {
  background-color: #FED823;
  background: linear-gradient(90deg, #FED922 30%, #0A50A0 30.1%);	
  padding: 2rem 0;
}

.footer-img{
	width: auto; 
	height: 70px; 
	position: relative;
  top: 10px;
  right: 80px;
}

.footer-list .copyRight{
	color: #000;
	font-size: 0.8rem;
	position: relative;
	top: 45px;
	right: 80px;
}

.footer-inner h3{
  color: #FFF;
  font-size: 1.1rem;
  font-weight: bold;
  position: relative;
  right: 140px;
}

.footer-inner .h3{
  position: relative;
  left: 200px;
}

.footer-comunication{
	color: #FFF;
	font-size: 0.9rem;
  position: relative;
  right: 140px;
  line-height: 10px;
}

.footer-comunication a{
	color: #FFF;
	text-decoration: none;
}

.footer-inner .footer-list {
  padding: 0;
  margin: 0;
  display: block;
}

.footer-inner .footer-list li {
  display: block;
  color: #fff;
  margin-bottom: 0.8rem;
}

.footer-inner .footer-list-inline li a{
	color: #FFF;
	font-size: 1.2rem;
}

.footer-inner .footer-list-inline li {
  display: inline-block;
  margin-right: 1.6rem;
  position: relative;
  left: 210px;
}

/*Responsivo*/
@media (max-width: 995px) {
	.navbar-brand img{
		position: relative;
		left: 15px;
	}
	.navbar-toggler{
		position: relative;
		right: 15px;
	}
	.nav-item a{
  	color: #000;
  	font-size: 1.1rem;
  	font-weight: bold;
  	position: relative;
  	left: 15px;
	}
	.nav-item a:hover{
  	color: #0A50A0;
	}
	.dropdown-menu a{
		color: #FFF;
	}
	.form-control{
		display: none;
	}
	.btn-dark{
		display: none;
	}
	.footer-img{ 
		position: relative;
	  top: 10px;
	  right: 0;
	}
	.footer-inner h3{
	  position: relative;
	  left: 180px;
	  bottom: 100px;
	}
	.footer-inner .h3{
	  position: relative;
	  top: 10px;
	  left: 180px;
	}
	.footer-comunication{
	  position: relative;
	  left: 180px;
	  bottom: 95px;
	}
	.footer-inner .footer-list-inline li {
	  position: relative;
	  top: 5px;
	  left: 190px;
	}
	.footer-list .copyRight{
		color: #FFF;
		text-align: center;
		position: relative;
		top: 195px;
		right: 0;
	}
}